.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  background-position: 50% 50%;
  min-height: 838px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-ozone-jeydin-38066031.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 838px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 145px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 320px;
  height: 311px;
  animation-duration: 1000ms;
  margin: -216px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 36px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 121px;
  min-width: 57px;
  white-space: nowrap;
  margin: 47px 196px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 691px;
    pointer-events: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    pointer-events: auto;
    min-height: 691px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 134px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -205px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 36px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-shape-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 794px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    transition-duration: 1s;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -85px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -194px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 49px;
    margin-left: auto;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/pexels-ozone-jeydin-38066031.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-text-1 {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 171px 415px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 25px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 3rem;
  margin: 25px auto 60px 120px;
  padding: 10px 86px 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 257px;
    margin-right: 215px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 190px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    background-size: auto 120%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 2.25rem;
    padding: 9px 29px;
  }
}