.u-section-1 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-1 .u-list-1 {
  width: 1150px;
  min-height: 992px;
  grid-gap: 0px 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 95px -10px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-1 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-2 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-2 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-3 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-4 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-4 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-5 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-5 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px 30px;
}

.u-section-1 .u-image-6 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-6 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-6 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-1 .u-list-1 {
    min-height: 953px;
    grid-gap: 10px 10px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 80px;
  }

  .u-section-1 .u-image-1 {
    height: 377px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-line-1 {
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 80px;
  }

  .u-section-1 .u-image-2 {
    height: 377px;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-1 .u-line-2 {
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 80px;
  }

  .u-section-1 .u-image-3 {
    height: 377px;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 47px;
  }

  .u-section-1 .u-line-3 {
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 80px;
  }

  .u-section-1 .u-image-4 {
    height: 377px;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 47px;
  }

  .u-section-1 .u-line-4 {
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 80px;
  }

  .u-section-1 .u-image-5 {
    height: 377px;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: 47px;
  }

  .u-section-1 .u-line-5 {
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 80px;
  }

  .u-section-1 .u-image-6 {
    height: 377px;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-top: 47px;
  }

  .u-section-1 .u-line-6 {
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1642px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 462px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 462px;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 462px;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 462px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-5 {
    height: 462px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-6 {
    height: 462px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1933px;
  }

  .u-section-1 .u-image-1 {
    height: 374px;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-1 .u-image-2 {
    height: 374px;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-1 .u-image-3 {
    height: 374px;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-1 .u-image-4 {
    height: 374px;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-1 .u-image-5 {
    height: 374px;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-1 .u-image-6 {
    height: 374px;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-left: -137px;
    margin-right: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1779px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1709px;
    width: 407px;
    margin: 60px -34px 10px;
  }

  .u-section-1 .u-image-1 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-1 .u-image-2 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-1 .u-image-3 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-1 .u-image-4 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-1 .u-image-5 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-1 .u-image-6 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: -112px;
    margin-right: -112px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-2 .u-list-1 {
  width: 1150px;
  min-height: 992px;
  grid-gap: 0px 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 70px -10px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px 30px;
}

.u-section-2 .u-image-1 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 30px;
}

.u-section-2 .u-image-2 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px 30px;
}

.u-section-2 .u-image-3 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-3 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px 30px;
}

.u-section-2 .u-image-4 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-4 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-4 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px 30px;
}

.u-section-2 .u-image-5 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-5 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-5 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px 30px;
}

.u-section-2 .u-image-6 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-6 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-12 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-6 {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-2 .u-list-1 {
    min-height: 953px;
    grid-gap: 10px 10px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-1 {
    height: 377px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-2 {
    height: 377px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-3 {
    height: 377px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-4 {
    height: 377px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-5 {
    height: 377px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 80px;
  }

  .u-section-2 .u-image-6 {
    height: 377px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1642px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 462px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 462px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 462px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 462px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 462px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 462px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 411px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-image-2 {
    height: 411px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-image-3 {
    height: 411px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-image-4 {
    height: 411px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-image-5 {
    height: 411px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-image-6 {
    height: 411px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-2 .u-text-12 {
    margin-left: -137px;
    margin-right: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1724px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1709px;
    width: 407px;
    margin-top: -8px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
  }

  .u-section-2 .u-text-1 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-text-2 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-image-2 {
    height: 253px;
  }

  .u-section-2 .u-text-3 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-text-4 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-image-3 {
    height: 253px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-text-6 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-image-4 {
    height: 253px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-text-8 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-image-5 {
    height: 253px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-text-10 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-image-6 {
    height: 253px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-2 .u-text-12 {
    margin-left: -112px;
    margin-right: -112px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-3 .u-list-1 {
  width: 1150px;
  min-height: 992px;
  grid-gap: 0px 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 70px -10px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px 30px;
}

.u-section-3 .u-image-1 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-1 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px 30px;
}

.u-section-3 .u-image-2 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-2 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-2 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px 30px;
}

.u-section-3 .u-image-3 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-3 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px 30px;
}

.u-section-3 .u-image-4 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-4 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-4 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px 30px;
}

.u-section-3 .u-image-5 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-5 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-5 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px 30px;
}

.u-section-3 .u-image-6 {
  height: 212px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-6 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-12 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-6 {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1374px;
    grid-gap: 10px 10px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    height: auto;
    margin-top: 149px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 80px;
  }

  .u-section-3 .u-image-1 {
    height: 377px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 80px;
  }

  .u-section-3 .u-image-2 {
    height: 377px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 80px;
  }

  .u-section-3 .u-image-3 {
    height: 377px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 80px;
  }

  .u-section-3 .u-image-4 {
    height: 377px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 80px;
  }

  .u-section-3 .u-image-5 {
    height: 377px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 80px;
  }

  .u-section-3 .u-image-6 {
    height: 377px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 47px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-3 .u-list-1 {
    min-height: 2368px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 462px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 462px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 462px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 462px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-5 {
    height: 462px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-6 {
    height: 462px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1597px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 411px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-image-2 {
    height: 411px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-image-3 {
    height: 411px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-text-6 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-image-4 {
    height: 411px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-text-8 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-image-5 {
    height: 411px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-text-10 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-image-6 {
    height: 411px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-3 .u-text-12 {
    margin-left: -137px;
    margin-right: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1714px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1709px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 253px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-image-2 {
    height: 253px;
  }

  .u-section-3 .u-text-3 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-text-4 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-image-3 {
    height: 253px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-text-6 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-image-4 {
    height: 253px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-text-8 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-image-5 {
    height: 253px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-text-10 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-image-6 {
    height: 253px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-3 .u-text-12 {
    margin-left: -112px;
    margin-right: -112px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-4 .u-list-1 {
  width: 1150px;
  min-height: 992px;
  grid-gap: 0px 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 30px -10px 40px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px 30px;
}

.u-section-4 .u-image-1 {
  height: 212px;
  margin: 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px 30px;
}

.u-section-4 .u-image-2 {
  height: 212px;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-2 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-2 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px 30px;
}

.u-section-4 .u-image-3 {
  height: 212px;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-3 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 10px 30px;
}

.u-section-4 .u-image-4 {
  height: 212px;
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-4 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-4 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 10px 30px;
}

.u-section-4 .u-image-5 {
  height: 212px;
  margin: 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-5 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-10 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-5 {
  margin-right: auto;
  margin-left: auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 10px 30px;
}

.u-section-4 .u-image-6 {
  height: 212px;
  margin: 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-4 .u-line-6 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-12 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-6 {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1374px;
    grid-gap: 10px 10px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 80px;
  }

  .u-section-4 .u-image-1 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-4 .u-line-1 {
    width: 290px;
    margin-top: 63px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 80px;
  }

  .u-section-4 .u-image-2 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-4 .u-line-2 {
    width: 290px;
    margin-top: 63px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 80px;
  }

  .u-section-4 .u-image-3 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-4 .u-line-3 {
    width: 290px;
    margin-top: 63px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 80px;
  }

  .u-section-4 .u-image-4 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-top: 19px;
  }

  .u-section-4 .u-line-4 {
    width: 290px;
    margin-top: 63px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 80px;
  }

  .u-section-4 .u-image-5 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-9 {
    margin-top: 19px;
  }

  .u-section-4 .u-line-5 {
    width: 290px;
    margin-top: 63px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 80px;
  }

  .u-section-4 .u-image-6 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-11 {
    margin-top: 19px;
  }

  .u-section-4 .u-line-6 {
    width: 290px;
    margin-top: 63px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-4 .u-btn-6 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-4 .u-list-1 {
    min-height: 2368px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-text-2 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-image-2 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-text-4 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-image-3 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-text-6 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-image-4 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-text-8 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-image-5 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-9 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-text-10 {
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-image-6 {
    height: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-11 {
    margin-top: 0;
    margin-left: -137px;
    margin-right: -137px;
  }

  .u-section-4 .u-text-12 {
    margin-left: -137px;
    margin-right: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1673px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1709px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 253px;
    width: 145px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 155px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-4 .u-image-2 {
    height: 253px;
    width: 145px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    width: 155px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-4 .u-image-3 {
    height: 253px;
    width: 145px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-4 .u-line-3 {
    width: 155px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-4 .u-image-4 {
    height: 253px;
    width: 145px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 16px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-4 .u-line-4 {
    width: 155px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-4 .u-image-5 {
    height: 253px;
    width: 145px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 16px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-4 .u-line-5 {
    width: 155px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-10 {
    margin-left: -112px;
    margin-right: -112px;
  }

  .u-section-4 .u-image-6 {
    height: 253px;
    width: 145px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 16px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-4 .u-line-6 {
    width: 155px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-12 {
    margin-left: -112px;
    margin-right: -112px;
  }
}